@import '../../../../styles/vars';

.employee_stats_progress :global {
    width: 100%;
    background: $color-big-stone;
    height: 3px;
    margin-top: 3px;

    .inner {
        background: $color-algae-green;
        height: 100%;
    }
}
