@import '../../../../styles/vars';

.employeeStatsProgress :global {
    width: 100%;
    background: $color-big-stone;
    height: 3px;
    margin-top: 3px;
}

.employeeStatsProgressInner :global {
    background: $color-algae-green;
    height: 100%;
}
