@import '../../../styles/vars';

.booking_dashboard :global {
    padding-bottom: 31px;
    border-bottom: 1px solid $color-arsenic;
    margin-bottom: 65px;

    .item_number {
        font-size: 24px;
        color: $color-white;
        height: 29px;
    }
}
