// use http://chir.ag/projects/name-that-color/ or stick to Zeplin color names

// COLORS
$color-white: #ffffff;
$color-black: #000000;
$color-dark: #202b33;
$color-steel-grey: #72848b;

// @SOURCE: http://www.color-blindness.com/color-name-hue/
$color-algae-green: #25cd6b;
$color-big-stone: #323d45;
$color-arsenic: #374148;

$layout-with: 1100px;
$layout-margin: 100px auto 0 auto;

$booking-dashboard-item-width: calc(100% / 3);

$employee-stats-item-height: 33px;
$employee-stats-item-with: 720px;
$employee-stats-item-margin: 0 0 17px 0;
$employee-stats-item-info-with: 608px;
$employee-stats-item-info-line-height: 18px;
